process {
    withName: EXTRACT{
        ext.extract_sample_prefix = params.extract_sample_prefix ? "--sample-prefix ${params.extract_sample_prefix}" : ''
    }
    withName: RELATE{
        ext.args = { [
            (params.groups_tsv) ? "---groups ${params.groups_tsv}" : '',
            (params.ped) ? "--ped ${params.ped}" : '',
            (params.min_depth) ? "--min-depth ${params.min_depth}" : "",
            (params.min_ab) ? "--min-ab ${params.min_ab}" : '',
            (params.infer) ? "--infer" : '',
            (params.unknown) ? "--unknown" : '',
            (paramms.output_prefix) ? "--output-prefix ${params.output_prefix}" : ''
        ].join(' ').trim() }
    }
}