process {
    withName: EXTRACT{
        ext.extract_sample_prefix = params.extract_sample_prefix ? "--sample-prefix ${params.extract_sample_prefix}" : ''
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/extract/" },
            pattern: "*somalier"
        ]
    }
    withName: RELATE{
        ext.args = { [
            (params.min_depth) ? "--min-depth ${params.min_depth}" : "",
            (params.min_ab) ? "--min-ab ${params.min_ab}" : '',
            (params.infer) ? "--infer" : '',
            (params.unknown) ? "--unknown" : '',
            (params.output_prefix) ? "--output-prefix ${params.output_prefix}" : ''
        ].join(' ').trim() }
    }
    withName: TAR_GZ{
        ext.tar_prefix = params.output_prefix ?: 'somalier_results'
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/relate/" },
            pattern: "*tar.gz"
        ]
    }
    withName: RESULT_INTERPRET{
        ext.args = { [
            (params.swap_threshold) ? "--swap-threshold ${params.swap_threshold}" : '',
            (params.output_prefix) ? "--output-prefix ${params.output_prefix}" : ''
        ].join(' ').trim() }
        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/result_interpret/" },
                pattern: "*.somalier_interpretation.tsv"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/pipeline_verdict/" },
                pattern: "somalier_verdict.txt"
            ],
        ]
    }
}