process {
    withName: EXTRACT {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm $fasta $_fai ${alignment_file.join(' ')} ${_alignment_index.join(' ')} " }
    }
    withName: RELATE {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm ${somalier_file.join(' ')} $ped $groups_csv" }
    }
}