process {
    withName: EXTRACT {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm $fasta $_fai ${alignment_file.join(' ')} ${_alignment_index.join(' ')} " }
    }
    withName: RELATE {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm ${somalier_file.join(' ')} $ped $groups_csv" }
    }
    withName: TAR_GZ {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm ${input_files.join(' ')}" }
    }
    withName: RESULT_INTERPRET {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm $ped $samples_csv $groups_csv $pairs_tsv"}
    }
}